{% include 'header.njk' %}

<div class="container-fluid min-vh-100">
  <div class="row  min-vh-100">
    <div class="col-12 text-center mt-5">
      Attila Kun's personal website
    </div>
  </div>
</div>

{% include 'footer.njk' %}